<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <script src="./static/a658a7b479.js"></script>
    <link rel="stylesheet" href="./static/aos.css"/>
    <link rel="icon" href="./static/img/icon2.png">
    <link rel="stylesheet" href="./static/demo_bot/chatbot-ui.css">
    <link rel="stylesheet" href="./static/prism.css"/>
    <link rel="stylesheet" href="./static/styles.css">

    <title>Ăn gì bây giờ? - Chatbot</title>
</head>

<body>
    <div class="hero" id="hero">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fas fa-utensils"></i> Chatbot <span>Ăn gì bây giờ?</span> </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-white hover font-weight-bold" href="#features">Các tính năng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover" href="#get-started">Bắt đầu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover" href="#futures">Tầm nhìn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover" target="_blank" href="https://github.com/nghiemtientuan/lunchChatBot">Repo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br>

        <div class="hero-content">
            <div class="hero-bot mobile">
                <img src="./static/img/homepage-bot.png " alt="Bot Image ">
            </div>

            <div data-aos="fade-down-right" data-aos-duration="1000" class="hero-header">
                <h1>Ăn gì bây giờ: <br><span class="primary-color"> Cơm nhà không la cà bạn ơi!</span><br></h1>
                <br/>

                <p>
                    Một trong những câu hỏi lớn nhất của việc ở nhà chính là "Ăn gì bây giờ?". Ngoài team đau đầu gọi
                    ship mỗi ngày, hội đảm đang cũng bất ngờ bổ sung thêm những cái tên mới với những bữa cơm "nhà làm"
                    chuẩn chỉnh từ hình thức đến nội dung khiến bao người trầm trồ. Rõ là không phải master chef mà sao
                    các chị lại khéo tay thế này, món nào món nấy nhìn vào là thấy đói meo liền luôn đây nè!
                </p><br>

                <h3>
                    <span class="primary-color cachy-line">Nào cùng nhau tìm ra món ăn phù hợp cho ngày hôm nay nào!</span>
                </h3>

                <div class="btns">
                    <a href="#features">
                        <button class="btn-green">Các tính năng</button>
                    </a>
                </div>
            </div>

            <div data-aos="fade-up-left" data-aos-duration="1000" class="hero-bot desktop">
                <img src="./static/img/homepage-bot.png" alt="Bot Image ">
            </div>
        </div>
        <br>
    </div>

    <div id="features">
        <h1 class="section-title"><span class="primary-color ">Các tính năng chính</span></h1><br>

        <div class="container">
            <div class="card-outer-container">
                <div
                    data-aos="fade-right"
                    data-aos-duration="800"
                    class="card feature-card"
                    style="width: 18rem;background-color: rgb(48,90,117);color:white"
                >
                    <div class="card-body">
                        <i class="fa-3x fa fa-desktop mb-3" aria-hidden="true"></i>
                        <br>
                        <h5 class="card-title">SỬ DỤNG ĐƠN GIẢN</h5>
                        <p class="card-text">Bằng cách trò chuyện với người dùng như các kênh trò chuyện. Thật đơn giản để sử dụng.</p>
                    </div>
                </div>

                <div
                    data-aos="fade-left"
                    data-aos-duration="800"
                    class="card feature-card"
                    style="width: 18rem;background-color: rgb(48,90,117);color:white "
                >
                    <div class="card-body">
                        <i class="fa-3x fa fa-magic mb-3" aria-hidden="true"></i>
                        <br>
                        <h5 class="card-title">TRÒ CHUYỆN</h5>
                        <p class="card-text">CHATBOT có thể trả lời những câu chào hỏi, thời tiết, món ăn,... Dựa trên những đặc điểm về thời tiết và cách nấu.</p>
                    </div>
                </div>

                <div
                    data-aos="zoom-in"
                    data-aos-duration="800"
                    class="card feature-card"
                    style="width: 18rem;background-color: rgb(14,55,74);color:white "
                >
                    <div class="card-body">
                        <i class="fa-3x fa fa-trophy mb-3" aria-hidden="true"></i>
                        <br>
                        <h5 class="card-title">TÌM KIẾM MÓN ĂN</h5>
                        <p class="card-text">Với hơn 2000 món ăn được lấy từ now - nay là shopee food, giúp cho việc đa dạng hóa món ăn có thể tìm kiếm.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br /><br />

    <div id="get-started" class="dark-bg">
        <br>
        <h1 class="text-center text-white">Bắt đầu</h1><br>
        <br>

        <div class="container">
            <h3 data-aos="fade-right" data-aos-duration="500" class="text-white text-center">
                Mở giao diện hội thoại ở góc màn hình bên phải, và cũng bắt đầu với những đoạn chat đầu tiên.
            </h3>
            <br>

            <div class="row ">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
                    <ul class="list-group list-group-left">
                        <li data-aos="fade-right" data-aos-duration="500">
                            <img src="./icons/chatbot1.png" alt="Bot Image">
                        </li>

                        <li data-aos="fade-right" data-aos-duration="700" class="mt-5">
                            <img src="./icons/chatbot3.png" alt="Bot Image">
                        </li>
                    </ul>
                </div>
                <div class="col ">
                    <ul class="list-group list-group-right">
                        <li data-aos="fade-left" data-aos-duration="600">
                            <img src="./icons/chatbot2.png" alt="Bot Image">
                        </li>

                        <li data-aos="fade-left" data-aos-duration="750" class="mt-5">
                            <img src="./icons/chatbot4.png" alt="Bot Image">
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <br />

    <div id="futures">
        <h1 class="section-title ">Tầm nhìn</h1><br>
        <div class="container">
            <h3 class="text-center">Để trả lời câu hỏi "ăn gì tối nay" không phải là chuyện đơn giản và dễ dàng chút
                nào? Có vô số món ăn có thể chọn lựa, nhưng ta không biết nên ăn gì vào?. Việc đưa ra lựa chọn rằng ăn
                gì tưởng chừng khá đơn giản tuy nhiên đứng trước nhiều lựa chọn chúng ta thường "ăn gì cũng được" tức là ko ăn gì.
            </h3>
            <br>

            <div class="container">
            <div class="card-outer-container">
                <div
                    data-aos="fade-right"
                    data-aos-duration="800"
                    class="card feature-card"
                    style="width: 18rem;background-color: rgb(48,90,117);color:white"
                >
                    <div class="card-body">
                        <i class="fa-3x fa fa-desktop mb-3" aria-hidden="true"></i>
                        <br>
                        <h5 class="card-title">GỢI Ý MÓN</h5>
                        <p class="card-text">Cải thiện khả năng gợi ý món dựa trên các tiêu chí khác nhau, không chỉ có
                            mỗi thời tiết. Có thể từ tâm trạng con người để đánh giá. Ví dụ ăn kem khi trời lạnh...</p>
                    </div>
                </div>

                <div
                    data-aos="fade-left"
                    data-aos-duration="800"
                    class="card feature-card"
                    style="width: 18rem;background-color: rgb(48,90,117);color:white "
                >
                    <div class="card-body">
                        <i class="fa-3x fa fa-magic mb-3" aria-hidden="true"></i>
                        <br>
                        <h5 class="card-title">TRÒ CHUYỆN</h5>
                        <p class="card-text">Tăng khả năng trò chuyện đối với bot. Bot có thể trả lời nhiều câu khác nhau.</p>
                    </div>
                </div>

                <div
                    data-aos="zoom-in"
                    data-aos-duration="800"
                    class="card feature-card"
                    style="width: 18rem;background-color: rgb(14,55,74);color:white "
                >
                    <div class="card-body">
                        <i class="fa-3x fa fa-trophy mb-3" aria-hidden="true"></i>
                        <br>
                        <h5 class="card-title">ĐA NGÔN NGỮ, VÙNG MIỀN</h5>
                        <p class="card-text">Hiện tại, bot chỉ có thể hiểu được một loại ngôn ngữ cố định. Trong tương
                            lai có thể hiểu được đa dạng ngôn ngữ, phù hợp với những người đa ngôn ngữ, và các đối tượng khác nhau</p>
                    </div>
                </div>
            </div>

        </div>
            <br /><br />

            <div class="dark-card text-center">Chúc các bạn ngon miệng.</div>
        </div>
    </div>

    <br><br>

    <footer class="dark-bg">
        <h2 class="text-white">Ăn gì bây giờ?</h2>
        <h2>
            <a class="primary-color" target="_blank" href="https://github.com/nghiemtientuan">Github</a>
        </h2>
    </footer>

    <!--  Chatbot socket  -->
    <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005"></div>
    <script src="./static/widget.js" type="application/javascript"></script>
    <!--  END chatbot socket  -->

    <!--  Styles  -->
    <script src="./static/demo_bot/chatbot-ui.js"></script>
    <script src="./static/prism.js"></script>
    <script src="./static/jquery-3.5.1.slim.min.js"></script>
    <script src="./static/bootstrap.min.js"></script>
    <script src="./static/aos.js"></script>
    <script>AOS.init();</script>
    <script>$('[data-aos]').parent().addClass('hideOverflowOnMobile');</script>
    <!--  END Styles  -->
</body>

</html>